.recent .text{
    padding: 30px;
}

.recent .category span{
    padding: 4px 15px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
}
.recent .category i {
    font-size: 20px;
    color: #bec7d8;
    cursor: pointer;
    transition: .15 s ease-out;
}
.recent p{
    color: #72809d;
}
.recent .button{
    border-top: 1px solid #efe8f3;
    padding: 10px 30px;
}
.recent .text .fa-location-dot{
    margin-right:5px ;
}
/* .price-no{
    margin-right: 5px;
} */
@media screen and (max-width:920px){
    .recent .button{
        padding: 7px 18px;
    }
    .recent .button .btn2{
     padding: 10px 18px;

    }
    
}
/* @media screen and (max-width:700px){
    .recent .button .btn2{
        padding: 7px 15px;
   
       }
} */
