:root{
    --primary:#27ae60;
}
header{
    background-color: #fff;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
header img{ 
    width: 170px;
}
header a{
    margin-left: 30px;
    transition: .5s;
    font-weight: 500;
}
header a:hover{
    color: var(--primary);
}
header span{
    width: auto;
    padding: 0 6px;
    background-color: var(--primary);
    border-radius: 50px;
    color: #fff;
    margin-right: 4px;
    font-weight: 400;
}
header h4{
    font-weight: 500;
    margin-right: 20px;
}
header .toggle{
    display: none;
}
.selected{
    color: var(--primary) ;
}
@media screen and (min-width:800px) {
    header .small{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

@media screen and (max-width:1170px) {
    header .container{
        max-width: 90%;
    }
    
}
@media screen and (max-width:1060px) {
    header a{
        margin-left: 21px;
        font-weight: 500;
        font-size: .9rem;
    }
    header h4{
        margin-right: 10px;
        margin-bottom: 5px;
    }
   .btn1{
        padding: 10px 18px;
    }
    .button h4 label{
        display: none;
    }
}
@media screen and (max-width:800px) {
    header{
        padding: 0;
    }
    header img{
        margin-top: 20px;
        width: 150px;

    }
    header .button{
        display: none;
    }
    header .nav .flex{
        display: none;
    }
    header .toggle{
        display: block;
        margin-top: 10px;
    }
    header .small{
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background-color: var(--primary);
        padding: 20px;
    }
    header li a{
        display: inline-block;
        margin-bottom: 20px;
        color: #fff;
    }
}
@media screen and (max-width:320px){
    header img{ 
        width: 130px;
    }
    .toggle button{
    padding: 8px 18px;

    }
}