.contact form div{
    display: flex;

}
.conatct textarea{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 1005px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.contact input{
    margin-bottom: 20px;
    margin-right: 10px;
}
.contact form{
    padding: 30px;

}
@media screen and (max-width:768px){
    .contact h4{
        width: 100%;
        margin-bottom: 30px;
    }
    
}