.price{
    text-align: center;
}
.price .content .box{
    width: 100%;
    padding: 30px;
    border-radius: 10px;
}
.price button{
    margin-bottom: 20px;
}
.price .box:nth-child(odd) .topbtn button{
    display: none;
}
.price h3{
    font-size: 22px;
}
.price h1{
    font-size: 60px;
}
.price span{
    font-size: 30px;
    font-weight: 600;
}
.price ul{
    margin-top: 40px;
}
.price ul li{
    display: flex;
    margin-bottom: 20px;
}
.price label{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}
.price .btn5{
    width: 100%;

}
.price .box{
    position: relative;
    height: 660px;
}
.price .box .btn5{
    position: absolute;
    width: 85%;
    top: 84%;
    left: 8.5%;
}
@media screen and (max-width:970px) {
    .price h1{
        font-size: 45px;
    }
    .price .btn5{
        padding: 9px 20px;
    
    }
 }
 @media screen and (max-width:754px) {
    .price h1{
        font-size: 35px;
    }
    .price .box{
        height: 680px;
    }
 }
 @media screen and (max-width:655px) {
    .price .box{
        height: 630px;
    }
 }
 @media screen and (max-width:364px) {
    .price .box{
        height: 690px;
    }.price .btn5{
        padding: 7px 16px;
    
    }
 }
/* @media screen and (max-width:800px) {
    .price .content{
        flex-direction: column;
    }
    .price .content .box{
        width: 100%;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 50px;
    }
} */